<footer><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <small>
                    Desarrollo web profesional
                </small>
            </div>
            <div class="col-lg-3">
                <small>
                    Beat alls's shop
                </small>
            </div>
            <div class="col-lg-3">
                <small>
                    The Beat Alls
                </small>
            </div>
            <div class="col-lg-3">
                <small>Todos los derechos reservados</small>
            </div>
        </div>
    </div> <br>
</footer>