<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description">
	<link rel="shortcut icon" type="image/png" href="/assets/images/Imagen2.png">
    <link rel="stylesheet" href="/assets/css/formulario.css">
	<title>inicio de sesion</title>


  </head>

  <header>
    <%- include('./layout/nav.ejs'); %>
</header>

<header>
    <%- include('./layout/menu2.ejs'); %>
</header>

<header>
    <%- include('./layout/diseño.ejs'); %>
</header>


<body>

  <footer>
    <%- include('./layout/footer.ejs'); %>
  </footer>
</body>
</html>