<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button style="border-radius: 15px;"><a href="/registroProveedores" style="text-decoration: none; color: black;">Registar nuevo proveedor</a></button>
    <button style="border-radius: 15px;"><a href="/proveedoresRegistrados" style="text-decoration: none; color: black;">Proveedores registrados</a></button>
    <button style="border-radius: 15px;"><a href="/productos" style="text-decoration: none; color: black;">Productos</a></button>
    <button style="border-radius: 15px;"><a href="/registroProductos" style="text-decoration: none; color: black;">Registrar productos</a></button>
    <button style="border-radius: 15px;"><a href="/productosRegistrados" style="text-decoration: none; color: black;">Productos registrados</a></button>
    <button style="border-radius: 15px;"><a href="/registroUsuarios" style="text-decoration: none; color: black;">Registrar empleado</a></button>
    <button style="border-radius: 15px;"><a href="/usuariosRegistrados" style="text-decoration: none; color: black;">Empleados registrados</a></button>
    <button style="border-radius: 15px;"><a href="/clientesRegistrados" style="text-decoration: none; color: black;">Clientes registrados</a></button>
    <button style="border-radius: 15px;"><a href="/historialAdmin" style="text-decoration: none; color: black;">Historial de pedidos</a></button>
    <button style="border-radius: 15px;"><a href="/pedidosAdmin" style="text-decoration: none; color: black;">Pedidos en curso</a></button>
    <button style="border-radius: 15px;"><a href="/logsEmpleados" style="text-decoration: none; color: black;">Logs empleados</a></button>
    <button style="border-radius: 15px;"><a href="/logsClientes" style="text-decoration: none; color: black;">Logs clientes</a></button>
    <button style="border-radius: 15px;"><a href="/logout" style="text-decoration: none; color: black;">Salir</a></button>
</body>
</html>