<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="/assets/images/Imagen2.png">
    <link rel="stylesheet" href="/assets/css/formulario.css">
    <title>Proveedores registrados</title>
</head>
<header>
    <%- include('./layout/nav.ejs'); %>
</header>

<header>
    <%- include('./layout/diseño.ejs'); %>
</header>

<header>
    <%- include('./layout/diseñoRegistroProveedor.ejs'); %>
</header>
<body>
<div class="contact_form">
    <div class="formulario">
        <form action="/registroProveedores" method="post" enctype="multipart/form-data">
            <label for="Nombre">Nombre</label>
            <input name="Nombre" id="Nombre" type="text">
            <br>
            <label for="Apellido">Apellido</label>
            <input name="Apellido" id="Apellido" type="text">
            <br>
            <label for="Telefono">Telefono</label>
            <input name="Telefono" id="Telefono" type="text">
            <br>
            <label for="Correo">Correo electrónico</label>
            <input name="Correo" id="Correo" type="email">
            <br>
            <label for="Empresa">Empresa</label>
            <input name="Empresa" id="Empresa" type="text">
            <br>
            <label for="IMG">Imagen</label>
            <input name="IMG" id="IMG" type="file">
            <br><br>
            <button type="submit">Registrarse</button>
        </form>
    </div>
</div>
</body>
<footer>
    <%- include('./layout/footer.ejs'); %>
</footer>
</html>